/* style.css */
body {
    background-image: url(https://cdn.pixabay.com/photo/2023/09/18/05/21/bar-8259664_1280.jpg);
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: green;
}

h2 {
    font-size: 30px;
    color: red
}

.established {
    font-style: italic;
}

h1, h2, p {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 50px;
}
hr {
    height: 2px;
    background-color: yellow;
    border-color: yellow;
}

.bottom-line {
    margin-top: 25px;
}

h1, h2 {
    font-family: Impact, serif;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.burger, .pizza {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

/* FOOTER */

footer {
    font-size: 14px;
}

address {
    font-style: normal;
}

.address {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: blue;
}

a:hover {
    color: brown;
}

a:active {
    color: Green;
}
